{%block head%}
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body class="header-body">
  
    <h1 class="h1">Tervetuloa Sporttipäiväkirjaan!</h1>
    <div class="header">
    <a href="{{ url_for("sivu1") }}">
      <button class="button"> Etusivu </button>
    </a>

    <a href="{{ url_for("workouts") }}">
      <button class="button">Kaikki urheilusuoritukset</button>
    </a>
    {%if session.user_id %}
    <a href="{{ url_for("own_page", user_id=session["user_id"]) }}">
      <button class="button">Omat sivut</button>
    </a>
    <a href="/logout">
      <button class="button">Kirjaudu ulos</button>
    </a>
    {% endif %}
    </div>
    <hr class="header-hr">
</body>

{% endblock %}