<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
        <h2>Muokkaa suoritusta</h2>
        {%include "flash_msg.html"%}
        <form method="post" action="{{ url_for("update_workout", workout_id=workout.id, workout_user_id = workout.user_id) }}">
            <label for="title">Sisältö:</label><br>
            <textarea name="title" rows="1" cols="30">{{workout.title}}</textarea><br>
            
            <label for="content">Sisältö:</label><br> 
            <textarea name="content" rows="5" cols="50">{{ workout.content }}</textarea><br>
            <fieldset>
                <legend>Valitse suorituksen taso:</legend>
                <div>

                  <input type="radio"  name="workout_level" value="helppo" 
                  {%if workout.workout_level == "helppo"%} checked {%endif%}>
                  <label for="helppo">Helppo</label>
                </div>
            
                <div>
                  <input type="radio"  name="workout_level" value="keskitaso"
                  {%if workout.workout_level == "keskitaso"%}checked{%endif%}>
                  <label for="keskitaso">Keskitaso</label>
                </div>
            
                <div>
                  <input type="radio" name="workout_level" value="kova"
                  {%if workout.workout_level == "kova"%}checked{%endif%}>
                  <label for="kova">Kova</label>        
                </div>
                {%set workout_types={
                        "jääkiekko": "Jääkiekko",
                        "jalkapallo" :"Jalkapallo",
                        "juokus":"Juoksu",
                        "kuntosali":"Kuntosali",
                        "pyöräily": "Pyöräily",
                        "tennis": "Tennis",
                        "padel": "Padel",
                        "lentopallo": "Lentopallo",
                        "kamppailu": "Kamppailu",
                        "muu": "Muu"
                    }%}

                <label for="workout_type">Valitse laji:</label>
                <select name="workout_type" id="workout_type">
                    {% for key, label in workout_types.items() %}
                        <option value="{{ key }}"
                            {% if workout.sport == key %}selected{% endif %}>
                            {{ label }}
                        </option>
                    {% endfor %}
                </select>
            </fieldset>

            <input type="submit" value="Tallenna">
        </form>
        <a href="{{ url_for("own_page", user_id=session["user_id"]) }}">Palaa takaisin</a>
    </body>
</html>