<html>

{% include "_header.html" %}
<body>
    <h1> Voit sovelluksessa luoda merkintöjä urheilusuorituksista ja  tarkastella + kommentoida muiden suorituksia  </h1>
    <h2> Aloita luomalla tunnus tai kirjautumalla sisään! </h2>
    {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  <p>
    <a href="/logout">Kirjaudu ulos</a>
    <p><a href="{{ url_for('own_page', user_id=session['user_id']) }}">Omat sivut</a></p>
  </p>
  {% if session.username %}
  <h2>Luo uusi urheilusuoritus</h2>
  <form action="/new_workout_post" method="post">
     <fieldset>
        <legend> Uusi Urheilusuoritus</legend>
          <p>
            Otsikko: <br />
            <input type="text" name="title" />
          </p>
          <p>
            Viesti: <br />
            <textarea name="content" rows="7" cols="50"></textarea>
          </p>
   
          <fieldset>
            <legend>Valitse suorituksen taso:</legend>
            <div>
              <input type="radio"  name="workout_level" value="helppo" checked/>
              <label for="helppo">Helppo</label>
            </div>
          
            <div>
              <input type="radio"  name="workout_level" value="keskitaso" />
              <label for="keskitaso">Keskitaso</label>
            </div>
          
            <div>
              <input type="radio" name="workout_level" value="kova" />
              <label for="kova">Kova</label>        
            </div>
          </fieldset>
          <input type="submit" value="Lähetä" />  
    </fieldset>
 </form>
  {% endif %}
  {% else %}
  <h1>Kirjaudu tai rekisteröidy jatkaaksesi</h1>
    <p><a href="/register">Rekisteröidy</a></p>
  <form action="/login" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="Kirjaudu" />
  </form>
  {% endif %}
    

</body>
</html>
