<html>

{% include "_header.html" %}
<body>
  <h2> Voit sovelluksessa luoda merkintöjä urheilusuorituksista ja  tarkastella + kommentoida muiden suorituksia sivulla "Kaikki urheilusuoritukset"  </h2>

  {% if session.username %}
    <p>
      Olet kirjautunut nimellä {{ session.username }}
    </p>
    <p>
      <a href="/logout">Kirjaudu ulos</a>
    </p>

    <h2>Luo uusi urheilusuoritus</h2>
    <form action="/new_workout_post" method="post">
       <fieldset>
          <legend> Uusi Urheilusuoritus</legend>
          <p>
            Otsikko: <br />
            <input type="text" name="title" />
          </p>
          <p>
            Viesti: <br />
            <textarea name="content" rows="7" cols="50"></textarea>
          </p>
   
          <fieldset>
            <legend>Valitse suorituksen taso:</legend>
            <div>
              <input type="radio"  name="workout_level" value="easy" checked/>
              <label for="helppo">Helppo</label>
            </div>
          
            <div>
              <input type="radio"  name="workout_level" value="medium"/>
              <label for="medium">Keskitaso</label>
            </div>
          
            <div>
              <input type="radio" name="workout_level" value="hard"/>
              <label for="hard">Kova</label>        
            </div>
          </fieldset>
           <label for="workout_type">Valitse laji:</label>
            <select name="workout_type" id="workout_type">
                <option value="icehockey">Jääkiekko</option>
                <option value="footbal">Jalkapallo</option>
                <option value="running">Juoksu</option>
                <option value="gym">Kuntosali</option>
                <option value="biking">Pyöräily</option>
                <option value="tennis">Tennis</option>
                <option value="padel">Padel</option>
                <option value="volleyball">Lentopallo</option>
                <option value="combat_sport">Kamppailu</option>
                <option value="other">Muu</option>
            </select>
          <input type="submit" value="Lähetä" />  
        </fieldset>
      </form>
  {% else %}
  <h1>Kirjaudu tai rekisteröidy jatkaaksesi</h1>
    <p><a href="/register">Rekisteröidy</a></p>
  <form action="/login" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="Kirjaudu" />
  </form>
  {% endif %}
    

</body>
</html>
