<html>

<head>
  <link rel="stylesheet" href="/static/main.css">
</head>
<body class="body">
  {% include "_header.html" %}
  <h2> Voit sovelluksessa luoda merkintöjä urheilusuorituksista ja  tarkastella + kommentoida muiden suorituksia sivulla "Kaikki urheilusuoritukset"  </h2>

  {% if session.username %}
    <p>
      Olet kirjautunut nimellä {{ session.username }}
    </p>
    <p>
      <a href="/logout">Kirjaudu ulos</a>
    </p>

    <h2>Luo uusi urheilusuoritus</h2>
  {%include "flash_msg.html"%}
    <form action="/new_workout_post" method="post">
       <fieldset>
          <legend> Uusi Urheilusuoritus</legend>
          <p>
            Otsikko: <br />
            <input type="text" name="title" />
          </p>
          <p>
            Viesti: <br />
            <textarea name="content" rows="7" cols="50"></textarea>
          </p>
   
          <fieldset>
            <legend>Valitse suorituksen taso:</legend>
            <div>
              <input type="radio"  name="workout_level" value="helppo" checked/>
              <label for="helppo">Helppo</label>
            </div>
          
            <div>
              <input type="radio"  name="workout_level" value="keskitaso"/>
              <label for="keskitaso">Keskitaso</label>
            </div>
          
            <div>
              <input type="radio" name="workout_level" value="kova"/>
              <label for="kova">Kova</label>        
            </div>
          </fieldset>
           <label for="workout_type">Valitse laji:</label>
            <select name="workout_type" id="workout_type">
                <option value="jääkiekko">Jääkiekko</option>
                <option value="jalkapallo">Jalkapallo</option>
                <option value="juoksu">Juoksu</option>
                <option value="kuntosali">Kuntosali</option>
                <option value="pyöräily">Pyöräily</option>
                <option value="tennis">Tennis</option>
                <option value="padel">Padel</option>
                <option value="lentopallo">Lentopallo</option>
                <option value="kamppailu">Kamppailu</option>
                <option value="muu">Muu</option>
            </select>
          <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
          <input type="submit" value="Lähetä" />  
        </fieldset>
      </form>
  {% else %}
  <h1>Kirjaudu tai rekisteröidy jatkaaksesi</h1>
    <p><a href="/register">Rekisteröidy</a></p>
    <br>
   {%include "flash_msg.html"%}
  <form action="/login" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="Kirjaudu" />
  </form>
  {% endif %}
    

</body>
</html>
