<html>
  <head>
    <title>Rekisteröinti</title>
    <link rel="stylesheet" href="/static/main.css">
  </head>
  {%include "flash_msg.html"%}
  <body class="body">
     {% include "_header.html" %}
    <form class="login-form" action="/register" method="post" >
      <p>
        <label for="username">Käyttäjätunnus: </label><br />
        <input type="text" name="username" value="{{ filled.username }}" maxlength="16" />
      </p>
      <p>
        <label for="password1">Salasana: </label><br />
        <input type="password" name="password1" />
      </p>
      <p>
        <label for="password2">Salasana uudestaan: </label> <br />
        <input type="password" name="password2" />
      </p>
      <input type="submit" value="Luo tunnus" />
    </form>
  </body>
</html>
