<html>
  
  <head>
    <title>Rekisteröinti</title>
    <link rel="stylesheet" href="/static/main.css">
  </head>
  {%include "flash_msg.html"%}
  <body class="body">
     {% include "_header.html" %}
    <form class="login-form" action="/register" method="post">
      <p>
        Tunnus: <br />
        <input type="text" name="username" value="{{ filled.username }}" maxlength="16" />
      </p>
      <p>
        Salasana: <br />
        <input type="password" name="password1" />
      </p>
      <p>
        Salasana uudestaan: <br />
        <input type="password" name="password2" />
      </p>
      <input type="submit" value="Luo tunnus" />
    </form>
  </body>
</html>
