<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="/static/main.css">
  </head>
  <body class="body">
    {% include '_header.html' %}
    {% if username %}
      <h1>Tervetuloa, {{ username }}!</h1>
      <div class="user-stats">
        <p>Olet harjoitellut viimeisen 7 päivän aikana: {{weekly_count}} kertaa</p>
        <p>Olet harjoitellut viimeisen 30 päivän aikana: {{thirty_days_count}} kertaa</p>
        <p>Kaikkiaan olet harjoitellut: {{total_count}} kertaa</p>
      </div>
      <hr>
      <p>Viimeisimmät urheilusuorituksesi:</p>
        {% if workouts %}
          {% for workout in workouts %}
            <article class="workouts">
              <h3>{{ workout.title }}, Taso: {{ workout.workout_level }}, Laji: {{ workout.sport }}</h3>
              <p>{{ workout.content | show_lines }}</p>
              <small>Lisätty: {{ workout.sent_at }}</small>
              <h2>Kommentit: </h2>
                  {% for comment in workout.get_comments() %}
                    <div class="comment">
                      <p >{{ comment[0] | show_lines}}</p>
                      <small>Käyttäjältä: {{ comment[1] }}, kommentoitu: {{comment[2]}}</small>
                      {%if session.user_id == comment[3]%}
                          <!--same form again, could be done with a macro or include-->
                            <form method="post" action = "{{ url_for("workouts.delete_comment", comment_id=comment[4],
                                                          comment_user_id=comment[3])}}">
                                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                                <input type="hidden" name="return_to_same" value="{{request.full_path}}">
                                <input type="submit" value="Poista kommentti">
                            </form>
                        {% endif %}
                    </div>
                  {% endfor %}
              <form method="post" action="{{ url_for('workouts.edit_workout', workout_id=workout.id, workout_user_id=workout.user_id) }}">
                <button class="button edit-button" type="submit">Muokkaa</button>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
              </form>
              <form method="post" action="{{ url_for('workouts.delete_workout_confirmation', workout_id=workout.id, workout_user_id=workout.user_id) }}">
                <button class="button delete-button" type="submit">Poista</button>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
              </form>
            </article>
          {% endfor %}
        {% else %}
          <p>Sinulla ei ole vielä urheilusuorituksia.</p>
        {% endif %}
    {% else %}
      <h1>Sinun pitää kirjautua sisään nähdäksesi tämän sivun.</h1> <!-- this should not be seen -->
    {% endif %}
  </body>
</html>
