<!DOCTYPE html>
<html>


<head>
    <link rel="stylesheet" href="/static/main.css">
</head>

<body class="body">
    {%include "_header.html"%}
    <h1>Kaikki urheilusuoritukset</h1>

    <form method="post" action="{{url_for("workouts.sort_workouts", page_num=1)}}">
        <!--now user can see what is used in search-->
        {%set workout_types={
                        "all": "Kaikki",
                        "Jääkiekko": "Jääkiekko",
                        "Jalkapallo" :"Jalkapallo",
                        "Juoksu":"Juoksu",
                        "Kuntosali":"Kuntosali",
                        "Pyöräily": "Pyöräily",
                        "Tennis": "Tennis",
                        "Padel": "Padel",
                        "Lentopallo": "Lentopallo",
                        "Kamppailu": "Kamppailu",
                        "Muu": "Muu"
                    }%}
        {%set workout_levels ={
                        "all": "Kaikki",
                        "helppo": "Helppo",
                        "keskitaso": "Keskitaso",
                        "vaikea" : "Kova"
        }%}
        <label for="workout_level">Lajittele vaativuuden mukaan:</label>
        <select name="workout_level" id="workout_level">
            {% for level_key, level_value in workout_levels.items() %}
                <option value= "{{ level_key}}"
                    {% if workout_level is defined and workout_level == level_key %} selected {% endif %}>
                    {{ level_value }}
                </option>
            {% endfor %}
        </select>
        <label for="workout_type">Lajittele urheilulajin mukaan:</label>
        <select name="workout_type" id="workout_type">
            {% for type_key, type_value in workout_types.items()%}
                <option value="{{ type_key}}"
                    {% if workout_type is defined and workout_type == type_key %} selected {% endif %}>
                    {{ type_value }}
                </option>
            {% endfor %}
        </select>
        <button type="submit"> Lajittele </button>
    </form>
    <br>
    <form method="post" action="{{url_for("workouts.sort_with_query", page_num=1)}}">
       <label for="sort_query">Lajittele hakusanan mukaan:</label>
        <input type="text" name="sort_query" value="{{query}}" />
        <button type="submit"> Lajittele hakusanalla </button>    
    </form>
    <br>
    {%include "flash_msg.html"%}
    {% for workout in workouts %}
        <article class="workouts-outer" >
            <h1>{{workout.sport}}</h1>
            <small class="small-text">Lisätty: {{ workout.sent_at }}, Käyttäjältä: {{ workout.username }}</small>
            <article class="workouts" >
                <h3>Otsikko: {{ workout.title }}, Taso: {{ workout.workout_level }}, Laji: {{workout.sport}}</h3>
                <p>{{ workout.content | show_lines }}</p>
                <form method="post" action="{{ url_for("workouts.comment_post", workout_id=workout.id) }}">
                        <label for="comment_content">Lisää kommentti:</label><br>
                        <textarea name="comment_content" rows="3" cols="40" maxlength="500"></textarea><br>
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        <input type="hidden" name="return_to_same" value="{{ request.full_path }}">
                        <input type="submit" value="Lähetä kommentti">
                </form>
                <h2>Kommentit: </h2>
                    {% for comment in workout.get_comments() %}
                    <div class="comment">
                        <p>{{ comment[0] | show_lines }}</p>
                        <small>Käyttäjältä: {{ comment[1] }}, kommentoitu: {{comment[2]}}</small>
                        {%if session.user_id == comment[3]%}
                            <form method="post" action = "{{ url_for("workouts.delete_comment", comment_id=comment[4],
                                                        comment_user_id=comment[3])}}">
                                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                                <input type="hidden" name="return_to_same" value="{{request.full_path}}">
                                <input type="submit" value="Poista kommentti">
                            </form>
                        {% endif %}
                    </div>
                {% endfor %}
            </article>
        </article>
    {% endfor %}
    
   <p>
    <!--check which type of pagination to show. maybe not the best solution but works-->
    {% if query is defined %}
        <a href="{{ url_for('workouts.sort_with_query',
                            sort_query=query,
                            page_num=page_num - 1) }}">&lt;&lt;</a>
        Sivu {{ page_num }}/{{ page_count }}
        <a href="{{ url_for('workouts.sort_with_query',
                            sort_query=query,
                            page_num=page_num + 1) }}">&gt;&gt;</a>
    {% elif workout_level is defined and workout_type is defined %}
        <a href="{{ url_for('workouts.sort_workouts',
                            workout_level=workout_level,
                            workout_type=workout_type,
                            page_num=page_num - 1) }}">&lt;&lt;</a>
        Sivu {{ page_num }}/{{ page_count }}
        <a href="{{ url_for('workouts.sort_workouts',
                            workout_level=workout_level,
                            workout_type=workout_type,
                            page_num=page_num + 1) }}">&gt;&gt;</a>
    {% else %}
        <a href="/workouts/{{ page_num - 1 }}">&lt;&lt;</a>
        Sivu {{ page_num }}/{{ page_count }}
        <a href="/workouts/{{ page_num + 1 }}">&gt;&gt;</a>
    {% endif %}
    </p>
    {%if not session.user_id%}
        <p>Kirjaudu tai rekisteröidy kommentoidaksesi suorituksia</p>
        <p><a href="/register">Rekisteröidy</a></p>
        <p><a href="/">Kirjaudu etusivulta </a></p>
    {% endif %}
</body>
</html>

