<!DOCTYPE html>
<html>


<head>
    <link rel="stylesheet" href="/static/main.css">
</head>

<body class="body">
    {%include "_header.html"%}
    <h1>Kaikki urheilusuoritukset</h1>

    <form method="get" action="{{url_for("sort_workouts")}}">
        <label for="workout_level">Lajittele vaativuuden mukaan:</label>
        <select name="workout_level" id="workout_level">
            <option value="all">Kaikki</option>
            <option value="helppo">Helppo</option>
            <option value="keskitaso">Keskitaso</option>
            <option value="kova">Vaikea</option>
        </select>
        <label for="workout_type">Lajittele urheilulajin mukaan:</label>
        <select name="workout_type" id="workout_type">
            <option value="all">Kaikki</option>
            <option value="Jääkiekko">Jääkiekko</option>
            <option value="Jalkapallo">Jalkapallo</option>
            <option value="Juoksu">Juoksu</option>
            <option value="Kuntosali">Kuntosali</option>
            <option value="Pyöräily">Pyöräily</option>
            <option value="Tennis">Tennis</option>
            <option value="Padel">Padel</option>
            <option value="Lentopallo">Lentopallo</option>
            <option value="Kamppailu">Kamppailu</option>
            <option value="Muu">Muu</option>
        </select>
        <button type="submit"> Lajittele </button>
    </form>
    <br>
    <form method="post" action="{{url_for("sort_with_query")}}">
       <label for="sort_query">Lajittele hakusanan mukaan:</label>
        <input type="text" name="sort_query" value="{{query}}" />
        <button type="submit"> Lajittele hakusanalla </button>    
    </form>
    <br>
    {% for workout in workouts %}
        <article class="workouts-outer" >
            <h1>{{workout.sport}}</h1>
            <small class="small-text">Lisätty: {{ workout.sent_at }}, Käyttäjältä: {{ workout.username }}</small>
            <article class="workouts" >
                <h3>Otsikko: {{ workout.title }}, Taso: {{ workout.workout_level }}, Laji: {{workout.sport}}</h3>
                <p>{{ workout.content }}</p>
                <form method="post" action="{{ url_for("comment_post", workout_id=workout.id) }}">
                        <textarea name="comment_content" rows="3" cols="40" maxlength="500"></textarea><br>
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        <input type="submit" value="Lähetä kommentti">
                </form>
                <h2>Kommentit: </h2>
                    {% for comment in workout.get_comments() %}
                    <div>
                        <p>{{ comment[0] }}</p>
                        <small>Käyttäjältä: {{ comment[1] }}</small>
                    </div>
                {% endfor %}
            </article>
        </article>
    {% endfor %}
    {%if not session.user_id%}
        <p>Kirjaudu tai rekisteröidy kommentoidaksesi suorituksia</p>
        <p><a href="/register">Rekisteröidy</a></p>
        <p><a href="/">Kirjaudu etusivulta </a></p>
    {%endif%}
</body>
</html>

