    .body {
        background-color: snow;
        margin: 20px;
        color: black
    }


    .workouts {
        background-color: lightgray;
        color: black;
        border: 2px solid black;
        margin: 20px;
        padding: 20px;
    }

    .header{
        background-color: white;
        display: flex;
        margin: 0px;
    }
    .button {
        background-color: black;
        border-radius: 20px;
        color: white;
        margin-right: 10px;
        padding: 10px 24px;
        text-align: center;
        text-decoration: none;
        font-size: 12px;
        cursor: pointer;
        font-family: sans-serif;
    }
    .edit-button{
        background-color: green;
        margin-top: 20px;
    }
    .delete-button{
        background-color: red;
        margin-top: 20px;
    }
    .user-stats{
        display: inline-block;
        padding-right: 10px;
        margin: 20px;
    }