  h1{
       text-align: center;
       color: black;
       font-family: sans-serif;
       font-style: italic;
   }
   .small-text{
        font-size: 14px;
        color: rgb(97, 96, 96);
        text-align: center;
   }
   .login-form{
       display: flex;
       flex-direction: column;
       align-items: center;
       border: 2px solid black;
       padding: 12px;
   }
   .body {
        background-color: snow;
        margin: 0px;
        color: black;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .workouts {
        border-width: 5px;
        border-color: blue;
        border-style: inset;
        background-color: lightgray;
        color: black;
        
        margin: 20px;
        padding: 20px;
        border-radius: 10px;
        width: 800px;
        overflow-wrap: break-word;
    }
    .workouts-outer {
        background-color: lightgray;
        color: black;
         overflow-wrap: break-word;
        border-width: 5px;
        border-color: blue;
        border-style: inset;
        margin: 5px;
        padding: 20px;
        border-radius: 20px;
        width: auto;
    }

    .header{
        background-color: white;
        display: flex;
        margin: 0px;
    }
    .button {
        background-color: black;
        border-radius: 20px;
        color: white;
        margin-right: 10px;
        padding: 10px 24px;
        text-align: center;
        text-decoration: none;
        font-size: 12px;
        cursor: pointer;
        font-family: sans-serif;
    }
    .edit-button{
        background-color: green;
        margin-top: 20px;
    }
    .delete-button{
        background-color: red;
        margin-top: 20px;
    }
    .button-container{
        padding: 12px;
        border: 4px solid black;
        display: flex;
        flex-direction: column;
        gap: 10px;          
        margin-top: 20px;   
    }
    .button-container form {
        margin: 0;
    }
    .user-stats{
        display: inline-block;
        padding-right: 10px;
        margin: 20px;
    }
    .h2{
        text-align: center;
        color: black;
    }
    .header-hr{
        border: 2px solid black;
        margin-top: 10px;
        width: 100%;
    }
    .header-body{
        background-color: white;
        display: flex;
        margin: 0px;
        
    }
    .fieldset{
        border: 2px solid black;
        padding: 10px;
        border-radius: 10px;
        background-color: white;
        padding: 12px;
        margin-bottom: 15px;
    }
    .comment{
         border: 2px solid black;
         padding: 10px;
         margin: 2px;
    }